# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env

# Temporary files
temp_audio.wav
*.wav

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover 

# mac
.DS_Store
.vercel

.node_modules/
node_modules/

.next/